div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    margin: 0;
}
.pagination .page-item .page-link{
    padding: .5rem 1rem;
}
.pagination .page-item .active{
    background-color: rgb(244 63 94);;
}
div.dataTables_wrapper div.dataTables_info{
    padding-top: 0;
}
